.grid-view {
  display: block;
  position: relative;
  touch-action: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.grid-view-image {
  display: block;
  image-rendering: pixelated;
}

.grid-view-grid {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  image-rendering: pixelated;
}
